<div class = "pageTitle">
	<p class="mainPage pageTitleText contactText">Essay & Art Competitions</p>
</div>
<div class = "container">
	<p class="largeText">Competiton Information will be updated July 1st</p>
	<p class="largeText">Stay Tuned for More Information</p>
</div>