<div class="homePage full">
	<img src="assets/test.jpg" class="bg">
	<div class = "mainText">
		<p class="mainPage">INDIA CULTURAL ASSOCIATION</p>
		</br>
		<p class="portland">PORTLAND, OREGON</p>
	</div>
	<!-- Pre-India Festival Registration Information -->
<!-- 	<div class = "container-fluid relDiv">
		<div>
			<p class = "indiaFest"> India Festival 2014</p>
			<div class = "row-fluid rowElems">
				<div class="span4 pagination-centered">
					<a class= "btn btn-block mainButton" role = "button" href = "http://icaportland.org/if2014registration/">Register to Perform</a>
				</div>
				<div class="span4 pagination-centered">
					<a class= "btn btn-block mainScreen" role = "button" href = "/essay">Essay&Art Competitons</a>
				</div>
				<div class="span4 pagination-centered">
					<a class= "btn btn-block mainScreen" role = "button" href = "http://icaportland.org/wp-content/uploads/2014/05/if2014sponsorship.pdf">Sponsor the Festival</a>
				</div>
			</div>
		</div>
	</div> -->
</div>
<!-- <div id = "fullpage">-->
 <div class="full" id="about">
	<div class = "container aboutText span7">
		<p class = "pageTitleText">About Us</p>
		<hr>
		<p> The India Cultural Association (ICA) is a non-profit organization dedicated to enhancing Indian Cultural Awareness in Portland, Oregon. The Association was established in 1980, and has since brought the entire Indian community together and provided a venue for a population of over 10,000 to reconnect with its roots.</p>
		<br>
		<p> ICA's claim to fame is its largest and most-loved event -- The India Festival, a festival in honor of India's Independence Day. The festival brings over 8,000 visitors to Portland's Pioneer Square, and never fails to delight with live music, dance, food and entertainment thoughout the day! We truly believe that the festival encompasses the tastes, sights, and sounds of India</p>
		<br>
		<p>In addition, ICA hosts an annual Diwali festival, occassional tennis tournaments, and other events for the community. In order to stay in touch with ICA events and other upcoming events in the Portland Area, check-out our Facebook Page, or Contact Us to become a member and join the mailing list</p>
		<p>We at ICA are so thankful to the Portland community for making our organization what it is today. We hope to see you at this year's India Festival!</p>
		<hr>
	</div>
	<div class = "container span5 aboutText">
		<img class="centeredImage contactImage" src="/assets/finale.JPG">
	</div>
</div>
<div class = "linebreak">
	<div class = "line"></div>
	<img src = "assets/chakra.png" class = "chakra"></img>
	<div class = "line"></div>
</div>
<div class="full" id="indiafest">
	<div class = "container">
		</br></br>
<!-- 	<p class = "pageTitleText">India Festival</p>
 -->	<p class = "largeText"> Stay tuned for information about India Festival 2015! </p>
		<!-- <p class = "largeText">The India Festival will be held on August 17th, 2014!</p>
		<p class = "largeText">Pioneer Square, Portland OR, 11am - 9pm </p>
		<p class = "largeText">Free Admission</p> -->
		<hr>
		<div class = "container span4 pagination-centered">
			<p class = "subTitle">Visit</p>
			<img class="smallImage" src="/assets/audience.jpg">
			<br>
			<p class = "subText">
				You don't want to miss the India Festival, a free event, that takes place on a Sunday close to India's Independence Day on August 15th.</p> 
			<p class = "subText">So, bring your friends and family and come to Pioneer Courthouse Square for a free taste of Indian Culture! Get ready to experience a day of back-to-back dances, musical performances, and food from Portland's finest Indian restaurants.</p>
			<p class = "subText">Don’t miss out on a memorable event that draws crowds from all over the West Coast!</p>
		</div>
		<div class = "container span3 pagination-centered">
			<p class = "subTitle">Perform</p>
			<img class="smallImage" src="/assets/pic3.jpg">
			<p class = "subText">The India Festival hosts a back-to-back entertainment program, filled with the performances of the members of the South Asian community.We encourage performances of all ages and talents to take part in the India Festival. Whether you are interested in dance, music, acting, or any other art form, we would love to see you on stage.</p>
			<p class = "subText">Registration to perform for the India Festival is currently closed. Information about registration, auditions, and the festival itself will be posted in early April.</p>
		</div>
		<div class = "container span4 pagination-centered">
			<p class = "subTitle">Sponsor</p>
			<img class="smallImage" src="/assets/booths.jpg">
			<p class = "subText">Your business can gain exposure to well over 10,000 visitors from the Northwest South Asian community and Portland community at-large by being present at India Festival.</p>
			<p class = "subText">If you are interested in supporting India Festival, please read the <a class = "linkText" href = "http://icaportland.org/wp-content/uploads/2014/05/if2014sponsorship.pdf">sponsorship and booth rental details</a>. For additional questions, please contact Jaisen Mody at (503) 645-7902 or email jaisen.mody@gmail.com. Thanks!</p>
		</div>
	</div>
</div>
<div class = "linebreak">
	<div class = "line"></div>
	<img src = "assets/chakra.png" class = "chakra"></img>
	<div class = "line"></div>
</div>
<div class="full" id="sponsors">
	<div class = "container">
		<p class = "pageTitleText">Our Sponsors</p>
		</br>
		<p class = "subTitle">Platinum Sponsors</p>
		<div class = "sponsors">
			<a href = "http://racc.org/" target="_blank">
				<div class = "tile">
					<img src = "assets/racc.jpg">
				</div>
			</a>
		</div>
		</br>
		<p class = "subTitle">Chakra Sponsors</p>
		<div class = "sponsors">
		</br>
			<a href = "http://www.shopamrapali.com/" target="_blank">
				<div class = "tile">
					<img src = "assets/amrapali.png">
				</div>
			</a>
			<a href = "http://www.swagat.com/" target="_blank">
				<div class = "tile">
					<img src = "assets/swagat.png">
				</div>
			</a>
			<a href = "http://www.sawera.org/" target="_blank">
				<div class = "tile">
					<img src = "assets/sawera.png">
				</div>
			</a>
		</div>

	</div>
</div>
<!-- </div> -->