<div class="homePage fullPage">
	<img src="assets/background6.png" class="bg">
	<div class = "mainText">
		<p class="mainPage">India Cultural Association</p>
	</br>
		<p class="portland">Portland, Oregon</p>
	</div>
	<div class = "container-fluid relDiv">
		<div>
			<p class = "indiaFest"> India Festival 2014</p>
			<div class = "row-fluid rowElems">
				<div class="span4 pagination-centered">
					<a class= "btn btn-block mainButton" role = "button" href = "#">Register to Perform</a>
				</div>
				<div class="span4 pagination-centered">
					<a class= "btn btn-block mainScreen" role = "button" href = "#">Essay&Art Competitons</a>
				</div>
				<div class="span4 pagination-centered">
					<a class= "btn btn-block mainScreen" role = "button" href = "#">Sponsor the Festival</a>
				</div>
			</div>
		</div>
	</div>
</div>
<a name="about"></a>
<div class="fullPage">
	<div class = "pageTitle">
		<p class="mainPage pageTitleText">About Us</p>
	</div>
	<div class = "container aboutText span7">
		<hr>
		<p> The India Cultural Association (ICA) is a non-profit organization dedicated to enhancing Indian Cultural Awareness in Portland, Oregon. The Association was established in 1980, and has since brought the entire Indian community together, and provided a venue for a population of over 10,000 to reconnect with it's roots.</p>
		<br>
		<p> ICA's claim to fame is it's largest and most-loved event -- The India Festival. The festival is filled with the tastes, sights, and sounds of India, with live music, dance, food and entertainment thoughout the day! The festival brings over 8,000 visitors to Portland's Pioneer Square, and never fails to delight with its non-stop entertainment. </p>
		<br>
		<p>We at ICA are so thankful to the Portland community for making our organization what it is today. If you would like to learn more about us or leave a message, please look to our "Contact Us" page!</p>
		<hr>
	</div>
	<div class = "container span5 aboutText">
		<img class="centeredImage contactImage" src="/assets/finale.JPG">
	</div>
</div>
<a name="indiafest"></a>
<div class="fullPage">
	<div class = "pageTitle">
		<p class="mainPage pageTitleText">The India Festival</p>
	</div>
	<div class = "container">
		<p class = "largeText">The India Festival will be held on August 17th, 2014!</p>
		<p class = "largeText">Pioneer Square, Portland OR, 11am - 9pm </p>
		<p class = "largeText">Free Admission</p>
		<hr>
		<div class = "container span4 pagination-centered">
			<p class = "subTitle">Visit</p>
			<img class="smallImage" src="/assets/audience.jpg">
			<br>
			<p class = "subText">Bring your friends and family and come to Pioneer Courthouse Square for a free taste of Indian Culture! Get ready to experience a day of back-to-back dances, musical performances, and food from Portland's finest Indian restaurants.</p>
			<p class = "subText">Don’t miss out on a memorable event that draws crowds from all over the West Coast!</p>
		</div>
		<div class = "container span3 pagination-centered">
			<p class = "subTitle">Perform</p>
			<img class="smallImage" src="/assets/pic1.jpg">
			<p class = "subText">Performers can register online until July 25th, 2014. Auditions will be held on August 3, 2014 at the Beaverton Activity Center.</p>
			<p class = "subText">Practice makes perfect and this year’s program will concentrate on quality. Committee members will determine performance time slots based on performance during the audition. We encourage all of you to start practicing for this fun filled day now and show us your talent during our auditions.</p>
		</div>
		<div class = "container span4 pagination-centered">
			<p class = "subTitle">Sponsor</p>
			<img class="smallImage" src="/assets/booths.jpg">
			<p class = "subText">Your business can gain exposure to well over 10,000 visitors from the Northwest South Asian community and Portland community at-large by being present at India Festival.</p>
			<p class = "subText">If you are interested in supporting India Festival, please read the sponsorship and booth rental details. For additional questions, please contact Jaisen Mody at (503) 645-7902 or email jaisen.mody@gmail.com. Thanks!</p>
		</div>
	</div>
</div>
<a name="sponsors"></a>
<div class="fullPage">
	<div class = "pageTitle">
		<p class="mainPage pageTitleText">Our Sponsors</p>
	</div>
	<div class = "container">
		<p class = "largeText">Thank you to all our Sponsors!</p>
		<table class="table">
			<tr>
				<td>
					<div class="imgWrap">
						<img class = "circular" src="assets/apnabazaar.jpg"></img>
						<p class="imgDescription">Apna Bazaar</p>
					</div>
				</td>
				<td>
					<div class="imgWrap">
						<img class = "circular" src="assets/swagat.png"></img>
						<p class="imgDescription">Swagat</p>
					</div>
				</td>
				<td>
					<div class="imgWrap">
						<img class = "circular" src="assets/amrapali.png"></img>
						<p class="imgDescription">Amrapali</p>
					</div>
				</td>
				<td>
					<div class="imgWrap">
						<img class = "circular" src="assets/sawera.png"></img>
						<p class="imgDescription">Sawera</p>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>